@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Lexend+Zetta:wght@100..900&display=swap");
/* --reg-font: font-family: "Poppins", sans-serif;
  --brand-font: font-family: "Lexend Zetta", serif;
  --handwritten-font:  font-family: "Gluten", serif; */

/* Color and Gradient Variables */
:root {
  --dark-teal: #002b36;
  --light-teal: #016b6b;
  --accent: #a6dcef;
  --softer-accent: #d0e7f2;
  --white: #ffffff;
  --frosted-glass: rgba(255, 255, 255, 0.1);
  --gradient-primary: linear-gradient(
    135deg,
    var(--dark-teal),
    var(--light-teal)
  );
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.home-cont {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background: var(--gradient-primary);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  /* background-image: url("../../Imgs/ferns.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.header-container h1 {
  font-family: "Lexend Zetta", serif;
}

.content-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--frosted-glass);
  backdrop-filter: blur(10px);
  height: 90vh;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  font-size: 0.9rem;
  color: var(--accent);
  text-align: center;
  margin-top: 20px;
}
