html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.dashboard-cont {
  width: 100%; /* Take up the full width of content-container */
  max-width: 1200px; /* Optional: Set a maximum width for large screens */
  margin: 0 auto; /* Center the content horizontally */
  color: var(--white);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.custom-btn {
  width: 250px;
  margin: 15px 1px;
  padding: 10px 15px;
  background: var(--accent);
  color: var(--dark-teal);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background: var(--white);
  color: var(--dark-teal);
}
